@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  background: #999999;
}

* {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  padding: 15px;
  color: #e6e6e6;
}

.navbar-mainbg {
  background-color: #3d4c41;
  padding: 0px;
}

#nav-link.active {
  color: #e6e6e6;
}
